@import '../variables/media-queries';


/// Only show content visible above the specified breakpoint. These breakpoints are mapped to a breakpoint map in the variables folder.
///
/// @mixin
/// @section Media Query Mixins
/// @param $breakpoint A breakpoint state within the breakpoints map. E.g. `xs`, `sm`, `md`, `lg`, `xl`.
/// @example
///  .go-block {
///      display: none;
///
///      @include media-min(sm) {
///          display: inline-block;
///      }
///
///      @include media-min(md) {
///          display: block;
///      }
///  }
@mixin media-min($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}


/// Only show content visible below the specified breakpoint. These breakpoints are mapped to a breakpoint map in the variables folder.
///
/// @mixin
/// @section Media Query Mixins
/// @param $breakpoint A breakpoint state within the breakpoints map. E.g. `xs`, `sm`, `md`, `lg`, `xl`.
/// @example
///  .go-block {
///      display: none;
///
///      @include media-max(sm) {
///          display: block;
///      }
///  }
@mixin media-max($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: (map-get($breakpoints, $breakpoint) - 1px)) {
			@content;
		}
	}
}


/// Only show content on high resolution screens above 150 dpi.
///
/// @mixin
/// @section Media Query Mixins
/// @example
///  .go-block {
///      background-image: url('images/logo.png');
///
///      @include media-hdpi {
///           background-image: url('images/logo@2x.png');
///      }
///  }
@mixin media-hdpi {
	@media #{$media-hdpi} {
		@content;
	}
}


/// Only show content on high resolution screens above 300 dpi.
///
/// @mixin
/// @section Media Query Mixins
/// @example
///  .go-block {
///      background-image: url('images/logo.png');
///
///      @include media-hdpi {
///           background-image: url('images/logo@2x.png');
///      }
///
///      @include media-hdpi-plus {
///           background-image: url('images/logo@3x.png');
///      }
///  }
@mixin media-hdpi-plus {
	@media #{$media-hdpi-plus} {
		@content;
	}
}


/// Only show content on print.
///
/// @mixin
/// @section Media Query Mixins
/// @example
///  .go-block {
///      background-color: $grey-dark;
///      color: $white;
///
///      @include media-print {
///          background-color: transparnet;
///          color: black;
///      }
///  }
@mixin media-print {
	@media #{$media-print} {
		@content;
	}
}
